<div class="container">
    <!-- Header -->
    <div class="header">
        <div class="title">{{ label.COMPANY.BANK_ACCOUNTS || 'Bank Accounts' }}</div>
        <button mat-raised-button color="primary" (click)="onAdd()">
            {{ label.COMPANY.ADD_BANK_ACCOUNT || 'Add Bank Account' }}
        </button>
    </div>

    <!-- Loading -->
    <ng-container *ngIf="showLoading; else listContent">
        <div class="loading">
            <mat-progress-spinner diameter="50" mode="indeterminate" color="primary"></mat-progress-spinner>
            <span>Loading...</span>
        </div>
    </ng-container>

    <ng-template #listContent>
        <ng-container *ngFor="let item of list; let i = index">
            <mat-card class="bank-card">
                <mat-card-header>
                    <div class="card-header-content">
                        <div class="bank-info">
                            <span class="bank-name">{{ item.bankName }}:</span>
                            <span class="bank-name">({{ item.accountNumber }})</span>
                            <span class="bank-date">{{ item.bankAccountDate | textPipe:'date' | async}}</span>
                            <span class="status" [ngClass]="item.bankAccountActive ? 'active' : 'inactive'">
                                {{ item.bankAccountActive ? (label.COMMON.ACTIVE || 'Active') : (label.COMMON.INACTIVE || 'Inactive') }}
                            </span>
                        </div>

                        <div class="card-actions">
                            <button mat-icon-button color="primary" (click)="onEdit(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="toggleCard(i)">
                                <mat-icon>{{ expandedMap[i] ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-header>

                <mat-card-content *ngIf="expandedMap[i]">
                    <div>
                        <p><strong>{{ label.COMMON.NOTES || 'Note:' }}</strong></p>
                        <p>"{{ item.note  }}"</p>
                    </div>
                    <div>
                        <app-company-account-signatory-component [companyBankAccount]="item"></app-company-account-signatory-component>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </ng-template>
</div>