<form *ngIf="formGroup" [formGroup]="formGroup" class="date-range-form">
  <div class="date-range-container" [formGroup]="formGroup">

    <!-- Start Date -->
    <div class="date-input-group">
      <mat-form-field appearance="outline">
        <mat-label>{{ startLabel || labels.COMMON.START_DATE }}</mat-label>
        <input
          matInput
          [matDatepicker]="startPicker"
          [formControlName]="startControlName"
          readonly>
        <button
          *ngIf="startControl?.value"
          matSuffix
          mat-icon-button
          type="button"
          (click)="clearStartDate($event)"
          [attr.aria-label]="'Clear start date'">
          <mat-icon>close</mat-icon>
        </button>
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>

        <!-- Start Date Errors -->
        <mat-error *ngIf="hasStartError">
          <mat-icon>error_outline</mat-icon>
          {{ startErrorMessage }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- End Date -->
    <div class="date-input-group">
      <mat-form-field appearance="outline">
        <mat-label>{{ endLabel || labels.COMMON.END_DATE }}</mat-label>
        <input
          matInput
          [matDatepicker]="endPicker"
          [formControlName]="endControlName"
          readonly>
        <button
          *ngIf="endControl?.value"
          matSuffix
          mat-icon-button
          type="button"
          (click)="clearEndDate($event)"
          [attr.aria-label]="'Clear end date'">
          <mat-icon>close</mat-icon>
        </button>
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>

        <!-- End Date Errors -->
        <mat-error *ngIf="hasEndError">
          <mat-icon>error_outline</mat-icon>
          {{ endErrorMessage }}
        </mat-error>
      </mat-form-field>
    </div>

  </div>
</form>
