<div class="modern-dialog-container">
    <!-- Header -->
    <div class="dialog-header">
        <div class="header-content">
            <div class="header-icon">
                <mat-icon>location_on</mat-icon>
            </div>
            <div class="header-text">
                <h2 class="dialog-title">Company Address</h2>
                <p class="dialog-subtitle">Enter company address details</p>
            </div>
        </div>
        <button mat-icon-button class="close-button" (click)="cancelEdit()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Body -->
    <div class="dialog-body">
        <div class="form-container">
            <form [formGroup]="formGroup" class="row w-100">

                <!-- Line 1 -->
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Line 1</mat-label>
                        <input matInput type="text" formControlName="addressLine1" required />
                        <mat-error *ngIf="formGroup.get('addressLine1')?.hasError('required')">
                            Line 1 is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Line 2 -->
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Line 2</mat-label>
                        <input matInput type="text" formControlName="addressLine2" />
                    </mat-form-field>
                </div>

                <!-- Line 3 -->
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Line 3</mat-label>
                        <input matInput type="text" formControlName="addressLine3" />
                    </mat-form-field>
                </div>

                <!-- PO Box Number -->
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>PO Box Number</mat-label>
                        <input matInput type="text" formControlName="poBoxNumber" />
                    </mat-form-field>
                </div>


                <div class="col-6 ps-2">
                    <select-auto-complete *ngIf="loadNationalitiesFn" [controlName]="'poBoxCountry'"
                        [fnGet]="loadNationalitiesFn" [formGroup]="formGroup" [label]="'Country'"
                        [keyToShow]="'name'" [valueKey]="'id'" [withNullOption]="false"
                        (selectEmitter)="onSelectCountry($event)">
                    </select-auto-complete>
                </div>

                <div class="col-6 pe-2" *ngIf="countryId">
                    <select-auto-complete *ngIf="loadCitiesFn" [formGroup]="formGroup" [controlName]="'poBoxCity'"
                        [fnGet]="loadCitiesFn" [label]="'City'" [keyToShow]="'name'" [valueKey]="'id'"
                        [withNullOption]="false">
                    </select-auto-complete>
                </div>

                <!-- Primary Address Checkbox -->
                <div class="col-12">
                    <mat-slide-toggle formControlName="addressPrimary">
                        Primary
                    </mat-slide-toggle>

                </div>


            </form>
        </div>
    </div>

    <!-- Footer -->
    <div class="dialog-footer">
        <button mat-stroked-button class="cancel-btn" (click)="cancelEdit()">
            <mat-icon>close</mat-icon>
            Cancel
        </button>
        <button mat-flat-button class="save-btn" (click)="save(true)" [disabled]="formGroup.invalid">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </div>
</div>