<div *ngIf="showLoading" class="spinner-overlay d-flex justify-content-center align-items-center">
    <mat-spinner diameter="40"></mat-spinner>
</div>

<mat-dialog-content *ngIf="personOtherDocument && !showLoading">

    <div *ngIf="!openEditForm" class="actions d-flex justify-content-end align-items-center gap-2">
        <button class="btn" (click)="openEdit()">
            <mat-icon>edit</mat-icon>
        </button>
        <button class="btn" (click)="download()">
            <mat-icon>download</mat-icon>
        </button>
        <button class="btn" [confirmDelete]="getRemoveCallback()">
            <mat-icon>delete</mat-icon>
        </button>
        <button class="btn" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>


    <div *ngIf="!openEditForm" class="row view">
        <div class="col-md-3 props">
            <div class="detail-box p-3">
                <div class="detail-item d-flex justify-content-between mb-3">
                    <span class="label text-muted d-flex align-items-center">TYPE</span>
                    <span class="value text-start ms-3">{{ personOtherDocument.documentType }}</span>
                </div>
                <div class="detail-item d-flex justify-content-between mb-3">
                    <span class="label text-muted">DESCRIPTION</span>
                    <span class="value">{{ personOtherDocument.documentDescription }}</span>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="image-wrapper">
                <ng-container *ngIf="personOtherDocument.contentType === 'application/pdf'; else showImage">
                    <iframe [src]="personOtherDocument.imageUrl" width="100%" height="100%"
                        type="application/pdf"></iframe>
                </ng-container>

                <ng-template #showImage>
                    <img *ngIf="personOtherDocument.imageUrl" [src]="personOtherDocument.imageUrl" alt="Document"
                        class="img-fluid" />
                </ng-template>
            </div>
        </div>
    </div>
    <app-edit-person-other-document-form *ngIf="openEditForm && !showLoading"
        [personOtherDocumentDto]="personOtherDocument" (saveEmitter)="save($event)"
        (cancelEditEmitter)="cancelEdit()"></app-edit-person-other-document-form>

</mat-dialog-content>