<div class="modern-dialog-container" [attr.dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
    <!-- Header -->
    <div class="dialog-header">
        <div class="header-content">
            <div class="header-icon">
                <mat-icon>people</mat-icon>
            </div>
            <div class="header-text">
                <h2 class="dialog-title">
                    {{element.id != 0 ? label.COMPANY.EDIT_BOARD_MEMBER || 'Edit' : label.COMPANY.ADD_BOARD_MEMBER ||
                    'Add'}}
                </h2>
                <p class="dialog-subtitle">{{ label.COMPANY.ENTER_BOARD_MEMBER_DETAILS || 'Enter Board Member' }}</p>
            </div>
        </div>
        <button mat-icon-button class="close-button" (click)="cancelEdit()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Body -->
    <div class="dialog-body">
        <div class="form-container">
            <form *ngIf="formGroup" [formGroup]="formGroup" class="row w-100">

                <div class="form-group col-12">
                    <div class="select-error-wrapper">
                        <select-auto-complete *ngIf="loadPersonsFn" [controlName]="'personId'" [fnGet]="loadPersonsFn"
                            [formGroup]="formGroup" [isRequired]="true" [label]="label.COMMON.PERSON || 'Person'"
                            [keyToShow]="'personEnglishName'" [valueKey]="'id'">
                        </select-auto-complete>
                    </div>
                </div>


                <div class="form-group col-12">
                    <select-auto-complete *ngIf="loadPersonsFn" [controlName]="'position'" [fnGet]="loadPositionsFn"
                        [formGroup]="formGroup" [isRequired]="true" [label]="label.COMPANY.DESIGNATION || 'Position'"
                        [keyToShow]="'name'" [valueKey]="'id'">
                    </select-auto-complete>
                </div>

                <div class="form-group col-12">
                    <start-end-dates-input [formGroup]="formGroup" [startControlName]="'appointmentDate'"
                        [endControlName]="'cessationDate'" [startLabel]="label.COMPANY.APPOINTMENT_DATE"
                        [endLabel]="label.COMPANY.CESSATION_DATE" [isStartRequired]="true" [isEndRequired]="true"
                        [startRequiredMsg]="label.COMMON.APPOINTMENT_DATE_REQUIRED"
                        [endRequiredMsg]="label.COMMON.CESSATION_DATE_REQUIRED"></start-end-dates-input>
                </div>

                <div class="form-group col-6">
                    <mat-form-field appearance="outline" class="full-width col-12">
                        <mat-select formControlName="isActive">
                            <mat-option *ngFor="let status of statuses" [value]="status.key">
                                {{ status.value }}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>


            </form>
        </div>
    </div>

    <!-- Footer -->
    <div class="dialog-footer">
        <button mat-stroked-button class="cancel-btn" (click)="cancelEdit()">
            <mat-icon>close</mat-icon>
            {{ label.COMMON.CANCEL || 'Cancel' }}
        </button>
        <app-save-button [showLoading]="showLoading" (clickEmitter)="save(true)"></app-save-button>
    </div>
</div>