    <form *ngIf="formGroup" [formGroup]="formGroup">
        <div class="container">
            <div class="p-3">
                <!-- English Name -->
                <div class="name-en">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>English Name</mat-label>
                                <input matInput placeholder="Add English Name" formControlName="personEnglishName"
                                    required />
                                @if (formGroup.get('personEnglishName')?.touched && formGroup.get('personEnglishName')?.hasError('required')) {
                                    <mat-error>
                                        First Name is required
                                    </mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                </div>
        
                <!-- Arabic Name -->
                <div class="name-ar mt-4">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Arabic Name</mat-label>
                                <input matInput placeholder="Add Arabic Name" formControlName="personArabicName"
                                    required />
                                @if (formGroup.get('personArabicName')?.touched && formGroup.get('personArabicName')?.hasError('required')) {
                                    <mat-error>
                                        First Name (Arabic) is required
                                    </mat-error>
                                }
        
                            </mat-form-field>
                        </div>
                    </div>
                </div>
        
                <!-- Short Name -->
                <div class="short-name mt-4">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Short Name</mat-label>
                                <input matInput placeholder="Add Short Name" formControlName="personShortName" required />
                                @if (formGroup.get('personShortName')?.touched && formGroup.get('personShortName')?.hasError('required')) {
                                    <mat-error>
                                        Short Name is required
                                    </mat-error>
                                }
                                @if (formGroup.get('personShortName')?.hasError('whitespace')) {
                                    <mat-error>
                                        cannot contain spaces.
                                    </mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                </div>
        
                <!-- Modern Action Buttons -->
                <div class="action-buttons">
                    <button mat-stroked-button class="cancel-btn" type="button" (click)="cancelEdit()">
                        <mat-icon>close</mat-icon>
                        Cancel
                    </button>
                    <button mat-flat-button class="save-btn" type="button" (click)="save()">
                                <mat-icon>save</mat-icon>
                                Save
                    </button>
                </div>

            </div>
        </div>
    </form>