<footer>
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <!-- filepath: c:\Users\w.alquraan\Desktop\LAS\Nexus.Las.Frontend\nexus.las\src\app\components\footer\footer.html -->
            <span style="color: #fff">
                Managed By Legal Department, &copy; copyright 2025
                <img src="../../../assets/images/Vector.svg"
                    style="height: 20px; width: auto; vertical-align: middle;border-radius: 2px; padding: 1px;" />
            </span>
        </div>
    </div>
</footer>