<form class="row align-items-center">
    <div class="col-1">
        <img src="../../../assets/images/logo.jpg" class="img-fluid" />
    </div>

    <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 mt-1">
            <input matInput type="text" placeholder="Search for persons, Companies, Real Estates, Law F.."
                aria-label="Search" aria-describedby="basic-addon2" />
        </mat-form-field>
    </div>

    <div class="col-2">
        <button class="btn btn-primary" type="button"><span class="mr-3">Create new</span> <mat-icon>add</mat-icon></button>
    </div>

    <div class="col-3">
        <div class="d-flex justify-content-end align-items-center gap-2">
            <div class="languages">
                <button class="btn" type="button" [matMenuTriggerFor]="languages">
                    <mat-icon>language</mat-icon> {{ selectedMenuItem.name }}
                </button>
                <mat-menu #languages="matMenu">
                    <button mat-menu-item *ngFor="let menuItem of menuItems" (click)="selectedMenuItem = menuItem">
                        {{ menuItem.name }}
                    </button>
                </mat-menu>

            </div>
            <div class="profile">
                <button type="button" class="btn account-button" [matMenuTriggerFor]="profile">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #profile="matMenu">
                    <button mat-menu-item type="button">Profile</button>
                    <button mat-menu-item type="button" (click)="logout()">Logout</button>
                </mat-menu>

            </div>
        </div>
    </div>

</form>