<div class="dl-container">
    <div class="dialog-header-buttons">
        <button class="btn btn-secondary mr-2" (click)="cancelEdit()">Cancel</button>
        <button class="btn btn-primary mr-2" (click)="save(true)">Save</button>
        <button class="btn" (click)="cancelEdit()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="full-width col-12">
            <input matInput formControlName="companyEnglishName" required placeholder="Name En" />
            <mat-error *ngIf="formGroup.get('companyEnglishName')?.hasError('required') && formGroup.get('companyEnglishName')?.touched">
                Name En is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width col-12">
            <input matInput formControlName="companyArabicName" required placeholder="Name Ar" />
            <mat-error *ngIf="formGroup.get('companyArabicName')?.hasError('required') && formGroup.get('companyArabicName')?.touched">
                Name Ar is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width col-12">
            <input matInput formControlName="companyShortName" required placeholder="Short Name" />
            <mat-error *ngIf="formGroup.get('companyShortName')?.hasError('required') && formGroup.get('companyShortName')?.touched">
                Short Name is required
            </mat-error>
        </mat-form-field>

        <select-auto-complete *ngIf="loadCompanyTypeFn"
        [controlName]="'companyTypeIdn'"
        [fnGet]="loadCompanyTypeFn"
        [formGroup]="formGroup"
        [isRequired]="true"
        [label]="'Company Type'"
        [keyToShow]="'name'"
        [valueKey]="'id'"
        [withNullOption]="false"
        ></select-auto-complete>

        <select-auto-complete *ngIf="loadCompanyClassFn"
        [controlName]="'companyClassIdn'"
        [fnGet]="loadCompanyClassFn"
        [formGroup]="formGroup"
        [isRequired]="true"
        [label]="'Company Class'"
        [keyToShow]="'name'"
        [valueKey]="'id'"
        [withNullOption]="false"
        ></select-auto-complete>

        <select-auto-complete *ngIf="loadGroupCompanyFn"
        [controlName]="'groupCompanyIdn'"
        [fnGet]="loadGroupCompanyFn"
        [formGroup]="formGroup"
        [isRequired]="true"
        [label]="'Group Company'"
        [keyToShow]="'name'"
        [valueKey]="'id'"
        [withNullOption]="false"
        ></select-auto-complete>

        <select-auto-complete *ngIf="loadRelevantCompanyFn"
        [controlName]="'relevantCompanyIdn'"
        [fnGet]="loadRelevantCompanyFn"
        [formGroup]="formGroup"
        [isRequired]="true"
        [label]="'Relevant Company'"
        [keyToShow]="'name'"
        [valueKey]="'id'"
        [withNullOption]="false"
        ></select-auto-complete>

        <select-auto-complete *ngIf="loadLegalTypeFn"
        [controlName]="'legalTypeIdn'"
        [fnGet]="loadLegalTypeFn"
        [formGroup]="formGroup"
        [isRequired]="true"
        [label]="'Legal Type'"
        [keyToShow]="'name'"
        [valueKey]="'id'"
        [withNullOption]="false"
        ></select-auto-complete>

        <select-auto-complete *ngIf="loadPlaceOfRegistrationMainFn"
        [controlName]="'placeOfRegistrationMainIdn'"
        [fnGet]="loadPlaceOfRegistrationMainFn"
        [formGroup]="formGroup"
        [isRequired]="true"
        [label]="'Place Of Registration'"
        [keyToShow]="'name'"
        [valueKey]="'id'"
        [withNullOption]="false"
        (selectEmitter)="onSelectMainRegistrtaion($event)"
        ></select-auto-complete>

        <select-auto-complete 
        *ngIf="loadPlaceOfRegistrationSubFn" 
        [formGroup]="formGroup"
        [controlName]="'placeOfRegistrationSubIdn'"
        [fnGet]="loadPlaceOfRegistrationSubFn"
        [label]="'Sub Place Of Registration'"
        [keyToShow]="'name'"
        [valueKey]="'id'"
        [withNullOption]="false">
        </select-auto-complete>
        
    </form>
</div>