app-shared-register-note-form{
    margin: 10px;
}
.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}
