<div>
    <div class="dialog-header-buttons">
        <button class="btn btn-secondary mr-2" (click)="cancelEdit()">Cancel</button>
      <button class="btn btn-primary mr-2" (click)="save()">Save</button>
      <button class="btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <form [formGroup]="formGroup" *ngIf="formGroup && !showLoading" class="view">
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="full-width col-12">
                    <mat-label>Document Type</mat-label>
                    <mat-select formControlName="type" required>
                        <mat-option value="passport">Passport</mat-option>
                        <mat-option value="national_id">National ID</mat-option>
                        <mat-option value="driver_license">Driver License</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('type')?.hasError('required') && formGroup.get('type')?.touched">
                        Document Type is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width col-12">
                    <mat-label>Nationality</mat-label>
                    <mat-select formControlName="nationality" required>
                        <mat-option value="1">Jordan</mat-option>
                        <mat-option value="2">UAE</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="formGroup.get('nationality')?.hasError('required') && formGroup.get('nationality')?.touched">
                        Nationality is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width col-12">
                    <mat-label>Place of issue</mat-label>
                    <mat-select formControlName="placeOfIssue" required>
                        <mat-option value="1">Jordan</mat-option>
                        <mat-option value="2">UAE</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="formGroup.get('placeOfIssue')?.hasError('required') && formGroup.get('placeOfIssue')?.touched">
                        Place of issue is required
                    </mat-error>
                </mat-form-field>
    
    
                <mat-form-field appearance="outline" class="full-width col-12">
                    <mat-label>Number</mat-label>
                    <input matInput formControlName="idNumber" required />
                    <mat-error
                        *ngIf="formGroup.get('idNumber')?.hasError('required') && formGroup.get('idNumber')?.touched">
                        Number is required
                    </mat-error>
                </mat-form-field>
    
    
                <mat-form-field appearance="outline" class="full-width col-12">
                    <mat-label>Issue Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="idIssueDate" required />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error
                        *ngIf="formGroup.get('idIssueDate')?.hasError('required') && formGroup.get('idIssueDate')?.touched">
                        Issue Date is required
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="full-width col-12">
                    <mat-label>Expiry Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="expiryDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
    
                <div class="col-12">
                    <mat-slide-toggle class="w-50" formControlName="isPrimary"><span
                            class="label-toggel">Primary</span></mat-slide-toggle>
                    <mat-slide-toggle class="w-50" formControlName="activeReminder"><span class="label-toggel">Active
                            Reminder</span></mat-slide-toggle>
                </div>
                <div class="col-6">
                </div>
            </div>
            <div class="col-6 image-edit-con">
                <div align="end">
                    <button class="btn" (click)="download()">
                        <mat-icon>download</mat-icon>
                    </button>
    
                    <!-- Attach File Button -->
                    <button class="btn" (click)="fileInput.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
    
                    <!-- Hidden File Input -->
                    <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*,.pdf" hidden />
                </div>
                <div class="image-wrapper mt-3">
                    <ng-container *ngIf="personIdDetail.contentType === 'application/pdf'; else showImage">
                        <iframe [src]="personIdDetail.imageUrl" width="100%" height="400px" type="application/pdf"></iframe>
                    </ng-container>
    
                    <ng-template #showImage>
                        <img *ngIf="personIdDetail.imageUrl" [src]="personIdDetail.imageUrl" alt="Document" class="img-fluid" />
                    </ng-template>
                </div>
            </div>
    
        </div>
    </form>

</div>