.mat-mdc-form-field-infix{
    width: 100%;
}
.input-search {
  background-color: #fff;
  width: 100% !important;  // force full width
  box-sizing: border-box;  // include padding/border in width calc

  &::placeholder {
    color: rgba(0, 0, 0, 0.54) !important;
    opacity: 1 !important;
  }
}

::ng-deep .mat-option .input-search {
  width: 100% !important;
}