<div class="table-header-container">
    <div class="table-header">
        <div class="header-title">{{ label.DOCUMENT_TRACKING.FOLLOW_UPS }}</div>
        <div class="header-actions">
            <button *ngIf="showTable" mat-raised-button color="primary" (click)="onAddNew()">
                <mat-icon>add</mat-icon>
                {{ label.DOCUMENT_TRACKING.ADD_FOLLOW_UP }}
            </button>

            <!-- Toggle button -->
            <button mat-icon-button (click)="toggleTable()"
                [attr.aria-label]="showTable ? (label.COMMON.HIDE || 'Hide') : (label.COMMON.SHOW || 'Show')">
                <mat-icon [ngClass]="{'rotated': !showTable}">expand_more</mat-icon>
            </button>

        </div>


    </div>
</div>
<div class="table-filters">
    <div class="row">
        <div class="action-types col-md-6 mb-2">
            <mat-label>{{ label.DOCUMENT_TRACKING.ACTION_TYPE || 'Action Type' }}</mat-label>
            <mat-select [(ngModel)]="params.actionType" (selectionChange)="search()">
                <mat-option [value]="null">{{ label.COMMON.ALL || 'All' }}</mat-option>
                <mat-option *ngFor="let action of actionTypes" [value]="action.value">
                    {{ action.label }}
                </mat-option>
            </mat-select>
        </div>
    </div>
</div>

<!-- Shared table -->
<app-shared-table *ngIf="showTable && !showLoading" [displayedColumns]="displayColumns" [paginateResult]="data"
    (onChangePage)="changePage($event)" (onSortChangeEvent)="changeSort($event)" [action]="actionButtonsTemplate">
</app-shared-table>

<!-- Action buttons -->
<ng-template #actionButtonsTemplate let-row>
    <button mat-icon-button [matMenuTriggerFor]="menuRow">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuRow="matMenu">
        <button mat-menu-item class="btn-edit" (click)="onEdit(row)">
            <mat-icon>edit</mat-icon> {{ label.COMMON.EDIT || 'Edit' }}
        </button>
        <button mat-menu-item class="btn-delete" [confirmDelete]="deleteFn(row.id)">
            <mat-icon>delete</mat-icon> {{ label.COMMON.DELETE || 'Delete' }}
        </button>
    </mat-menu>
</ng-template>