<div class="table-section">

<!-- Other Documents Section Title -->
<div class="section-subtitle">
  <div class="subtitle-content">
    <mat-icon>folder</mat-icon>
    <h3>Other Documents</h3>
  </div>
</div>

<!-- Filters Section -->
<div class="section-filters" *ngIf="!showLoading">
   <select-auto-complete 
            *ngIf="loadDocumentTypesFn" 
            [controlName]="'documentType'" 
            [fnGet]="loadDocumentTypesFn"
            [formGroup]="formGroup" 
            [label]="'Document Type'" 
            [keyToShow]="'name'" 
            [valueKey]="'id'"
            [withNullOption]="true"
            (selectEmitter)="onDocumentTypeSelect($event)">
    </select-auto-complete>
</div>

<!-- Loading State -->
<div *ngIf="showLoading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<!-- Table Section -->
<div class="section-table" >
  <app-shared-table *ngIf="!showLoading" 
    [displayedColumns]="displayColumns"
    [paginateResult]="data" 
    (onChangePage)="changePage($event)" 
    (onSortChangeEvent)="changeSort($event)"
    [action]="actionButtonsTemplate">
  </app-shared-table>
</div>

<!-- Row Actions -->
<ng-template #actionButtonsTemplate let-row>
  <button mat-icon-button [matMenuTriggerFor]="otherDocMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #otherDocMenu="matMenu">
    <button mat-menu-item (click)="editDocument(row)">
      <mat-icon>edit</mat-icon>
      <span>Edit Document</span>
    </button>
    <button mat-menu-item (click)="viewDocument(row)">
      <mat-icon>visibility</mat-icon>
      <span>View Document</span>
    </button>
    <button mat-menu-item [confirmDelete]="getRemoveCallback(row.id)">
      <mat-icon>delete</mat-icon>
      <span>Delete Document</span>
    </button>
  </mat-menu>
</ng-template>

</div>