/* Info snackbar component styles */
:host {
  display: block;
  width: 100%;
}

.info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}