<div class="edit-person-container mb-3 mt-3">
  <div *ngIf="!showLoading" class="">
    <p>
      <span class="fake-link">Persons</span> /
      {{person?.personEnglishName | titlecase}}
    </p>
    <div class="person-header-info">
      <span class="person-header-person-name mr-3">
        {{person?.personEnglishName | titlecase}}
      </span>
      <span class="mr-3" [ngStyle]="getPersonStatusStyle()">
        {{person?.personStatus | tableDataPipe: 'personStatus'}}
      </span>
      <span class="mr-3" [ngStyle]="getPersonPrivateStyle()">
        {{person?.private | tableDataPipe: 'privatePerson'}}
      </span>
  
    </div>
  </div>
  <ng-container *ngIf="!showLoading; else loadingTemplate">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>
          Details
        </ng-template>
        <app-person-details-form [person]="person" [isSaving]="isSaving" (saveEmitter)="onSave($event)">
        </app-person-details-form>
        <app-person-email-details></app-person-email-details>
        <app-person-phone-details></app-person-phone-details>
        <app-person-address-details></app-person-address-details>
  
      </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>description</mat-icon>
          Documents
        </ng-template>
        <app-person-documents-group></app-person-documents-group>
      </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>inventory_2</mat-icon>
          Assets
        </ng-template>
        Assets content here
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  
  <ng-template #loadingTemplate>
    <div class="d-flex justify-content-center mt-5">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>