<div class="position-relative">

    <div *ngIf="showLoading" class="spinner-overlay">
        <mat-spinner diameter="50"></mat-spinner>
    </div>

    <div class="container my-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">Email Addresses</h5>
            <button class="btn btn-outline-primary" (click)="openFormDetails()">
                <mat-icon class="me-1">add</mat-icon>
                Add Email
            </button>
        </div>

        <div *ngFor="let personEmail of personEmails" class="row align-items-center border rounded py-2 px-1 mb-2">
            <div class="col-md-1 text-center">
                <button class="btn btn-outline-primary btn-sm" style="border-radius: 50%;">
                    <mat-icon>email</mat-icon>
                </button>
            </div>
            <div class="col-md-7">
                <div>{{ personEmail.email }} <span [ngStyle]="getPrimaryStyle(personEmail.emailPrimary)"  *ngIf="personEmail.emailPrimary">Primary</span> </div>
                
            </div>
            <div class="col-md-4 text-end">
                <button class="btn btn-outline-primary me-2" (click)="openFormDetails(personEmail)" title="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="btn btn-sm btn-outline-danger" title="Delete" [confirmDelete]="getRemoveCallback(personEmail.id!)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>