<div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner diameter="40"></mat-spinner>
</div>

<form [formGroup]="formGroup" class="dialog-content">
    <div class="row">
        <mat-form-field appearance="outline" class="full-width col-6">
            <mat-label>Document Type</mat-label>
            <mat-select formControlName="documentType" required>
                <mat-option value="passport">Passport</mat-option>
                <mat-option value="national_id">National ID</mat-option>
                <mat-option value="driver_license">Driver License</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('documentType')?.hasError('required') && formGroup.get('documentType')?.touched">
                Document Type is required
            </mat-error>
        </mat-form-field>

        

        <mat-form-field appearance="outline" class="full-width col-6">
            <mat-label>Number</mat-label>
            <input matInput formControlName="documentDescription" required />
            <mat-error *ngIf="formGroup.get('documentDescription')?.hasError('required') && formGroup.get('documentDescription')?.touched">
                Number is required
            </mat-error>
        </mat-form-field>


    </div>
    <div class="row mt-3">
        <div class="col-3">
            <button [disabled]="isLoading" class="btn btn-primary" (click)="save()">Update</button>
        </div>
        <div class="col-3">
            <button class="btn cancel-button" (click)="cancel()">Cancel</button>
        </div>
    </div>
</form>