<div class="row person-header">
  <div class="col-12">
    <h1>Persons</h1>
    <p>View All Persons, edit individual profiles and add new persons</p>
  </div>
</div>

<div class="table-container">
  <p>{{data.totalRecords}} Records Returned</p>
  <div class="table">
    <div *ngIf="showLoading" class="spinner-container">
      <mat-spinner diameter="40" strokeWidth="4" color="accent"></mat-spinner>
    </div>
    <div class="row form" *ngIf="!selectedPersons.length">
      <div class="col-10 container">
        <div class="row">
          <mat-form-field class="col-3 w-100" appearance="outline">
            <mat-label>Search</mat-label>
            <input class="w-100" matInput placeholder="Search by person, code, name en, name ar..."
              [(ngModel)]="params.searchBy" name="searchBy" (keyup.enter)="search()">
          </mat-form-field>

          <mat-form-field class="col-3 w-100" appearance="outline">
            <mat-label>Nationality</mat-label>
            <mat-select [(ngModel)]="params.nationality" name="nationality" (selectionChange)="search()">
              <mat-option>All</mat-option>
              <mat-option [value]="1">Dubay</mat-option>
              <mat-option [value]="2">Abudhabi</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-3 w-100">
            <mat-button-toggle-group class="private w-100" aria-label="Visibility" [(ngModel)]="params.private"
              name="private" (change)="search()">
              <mat-button-toggle value="false">Public</mat-button-toggle>
              <mat-button-toggle value="true">Private</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div class="col-3 w-100">
            <mat-button-toggle-group class="private w-100" aria-label="Status" [(ngModel)]="params.status" name="status"
              (change)="search()">
              <mat-button-toggle value="0">New</mat-button-toggle>
              <mat-button-toggle value="1">Active</mat-button-toggle>
              <mat-button-toggle value="2">Inactive</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

        </div>
      </div>
      <div class="col-2 w-100">
        <button mat-button (click)="toggleSettingsMenu()" class="settings-button w-100 h-100">
          <mat-icon class="w-100 h-100">settings</mat-icon>
        </button>

        <div class="settings-menu-panel" *ngIf="settingsMenuOpen">
          <mat-slide-toggle [(ngModel)]="columns.code"><span class="label-toggel">Code</span></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="columns.nameEn"><span class="label-toggel">Name en</span></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="columns.nameAr"><span class="label-toggel">Name ar</span></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="columns.status"><span class="label-toggel">Status</span></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="columns.private"><span class="label-toggel">Private</span></mat-slide-toggle>
        </div>
      </div>

    </div>
    <div class="col-12 selected form" *ngIf="selectedPersons.length">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <p>{{ selectedPersons.length }} Selected</p>
    </div>
    <div>
      <button class="btn btn-primary me-2">Activate</button>
      <button class="btn btn-secondary">Inactivate</button>

    </div>
  </div>
</div>

    <app-shared-table *ngIf="!showLoading" [displayedColumns]="displayColumns" [paginateResult]="data"
      (onChangePage)="changePage($event)" (rowClick)="onRowClick($event)" [action]="actionButtonsTemplate"
      (onSortChangeEvent)="changeSort($event)"
      (selectionChange)="onSelectionChange($event)"
      ></app-shared-table>


   


    <ng-template #actionButtonsTemplate let-row>
      <button mat-icon-button [matMenuTriggerFor]="menuRow">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #menuRow="matMenu">
        <button mat-menu-item (click)="activate(row)">
          <span>Activate</span>
        </button>
        <button mat-menu-item (click)="deactivate(row)">
          <span>Inactivate</span>
        </button>
        <button mat-menu-item (click)="markPublic(row)">
          <span>Mark Public</span>
        </button>
        <button mat-menu-item (click)="markPrivate(row)">
          <span>Mark Private</span>
        </button>
        <button mat-menu-item>
          <span>Print</span>
        </button>
        <button mat-menu-item (click)="deletePerson(row)">
          <span>Delete</span>
        </button>
      </mat-menu>
    </ng-template>
  </div>
</div>