<div class="row person-header">
  <div class="col-12">
    <h1>Persons</h1>
    <p>View All Persons, edit individual profiles and add new persons</p>
  </div>
</div>

<div class="table-container">
  <p>{{ data.totalRecords }} Records Returned</p>

  <div class="table">

    <!-- Filter Form -->
    <div class="row form align-items-start" *ngIf="!selectedPersons.length">
      <div class="col-md-9">
        <div class="row g-3">
          <div class="col-md-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Search</mat-label>
              <input matInput placeholder="Search by person, code, name en, name ar..." [(ngModel)]="params.searchBy"
                name="searchBy" (keyup.enter)="search()">
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nationality</mat-label>
              <mat-select [(ngModel)]="params.nationality" name="nationality" (selectionChange)="search()">
                <mat-option value="">All</mat-option>
                <mat-option [value]="1">Dubay</mat-option>
                <mat-option [value]="2">Abudhabi</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-button-toggle-group  [(ngModel)]="params.private" name="private" (change)="search()">
              <mat-button-toggle value="false">Public</mat-button-toggle>
              <mat-button-toggle value="true">Private</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div class="col-md-3">
            <mat-button-toggle-group  [(ngModel)]="params.status" name="status" (change)="search()">
              <mat-button-toggle value="0">New</mat-button-toggle>
              <mat-button-toggle value="1">Active</mat-button-toggle>
              <mat-button-toggle value="2">Inactive</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="position-relative">

          <button class="mr-3" mat-raised-button color="primary" (click)="exportToExcel()">
            <mat-icon class="me-1">download</mat-icon>
            Export to Excel
          </button>
          

          <div class="setting-position-relative">
            <button mat-icon-button (click)="toggleSettingsMenu()" class="settings-button">
              <mat-icon>settings</mat-icon>
            </button>

            <div class="settings-menu-panel" *ngIf="settingsMenuOpen">
              <mat-slide-toggle [(ngModel)]="columns.code">Code</mat-slide-toggle>
              <mat-slide-toggle [(ngModel)]="columns.nameEn">Name en</mat-slide-toggle>
              <mat-slide-toggle [(ngModel)]="columns.nameAr">Name ar</mat-slide-toggle>
              <mat-slide-toggle [(ngModel)]="columns.status">Status</mat-slide-toggle>
              <mat-slide-toggle [(ngModel)]="columns.private">Private</mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-12 selected form" *ngIf="selectedPersons.length">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div>
          <p>{{ selectedPersons.length }} Selected</p>
        </div>
        <div class="d-flex flex-wrap gap-2">
          <button mat-button color="primary" (click)="bulkChangeStatus(activeStatus)">
            <mat-icon class="me-1">check_circle</mat-icon> Activate
          </button>
          <button mat-button color="accent" (click)="bulkChangeStatus(inactiveStatus)">
            <mat-icon class="me-1">cancel</mat-icon> Inactivate
          </button>
          <button mat-button color="primary" (click)="bulkChangePrivate(false)">
            <mat-icon class="me-1">visibility</mat-icon> Mark Public
          </button>
          <button mat-button color="accent" (click)="bulkChangePrivate(true)">
            <mat-icon class="me-1">visibility_off</mat-icon> Mark Private
          </button>
        </div>
      </div>
    </div>

    <!-- Loading Spinner -->
    <div *ngIf="showLoading" class="spinner-container">
      <mat-spinner diameter="40" strokeWidth="4" color="accent"></mat-spinner>
    </div>

    <!-- Data Table -->
    <app-shared-table *ngIf="!showLoading" [displayedColumns]="displayColumns" [paginateResult]="data"
      [action]="actionButtonsTemplate" (onChangePage)="changePage($event)" (rowClick)="onRowClick($event)"
      (onSortChangeEvent)="changeSort($event)" (selectionChange)="onSelectionChange($event)">
    </app-shared-table>

    <!-- Row Menu Template -->
    <ng-template #actionButtonsTemplate let-row>
      <button mat-icon-button [matMenuTriggerFor]="menuRow">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menuRow="matMenu">
        <button mat-menu-item (click)="activate(row)">Activate</button>
        <button mat-menu-item (click)="deactivate(row)">Inactivate</button>
        <button mat-menu-item (click)="markPublic(row)">Mark Public</button>
        <button mat-menu-item (click)="markPrivate(row)">Mark Private</button>
        <button mat-menu-item>Print</button>
        <button mat-menu-item (click)="deletePerson(row)">Delete</button>
      </mat-menu>
    </ng-template>

  </div>
</div>