<form [formGroup]="contactForm">
    <div class="container">
        <h6>Phone</h6>

        <div formArrayName="phones">
            <div class="row mb-3" *ngFor="let phoneGroup of phones.controls; let i = index" [formGroupName]="i">
                <div class="col-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Phone" formControlName="phone" />
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option [value]="1">Work</mat-option>
                            <mat-option [value]="2">Personal</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <mat-radio-group [value]="primaryIndex" (change)="setPrimary(i)">
                        <mat-radio-button [value]="i">Primary</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <a (click)="removePhone(i)" class="link-style">
                        <mat-icon>delete</mat-icon>
                        Remove
                    </a>
                </div>
            </div>
        </div>

        <a (click)="addPhone()" class="link-style">
            <mat-icon>add</mat-icon>
            Add Phone
        </a>
    </div>
</form>
<div *ngIf="phones.controls.length>0" class="container m-4 d-flex justify-content-end">
  <button class="btn btn-primary" (click)="onSave()">
    <mat-icon>save</mat-icon>
    Save Phone Details
  </button>
</div>