<div class="position-relative">

    <div *ngIf="showLoading" class="spinner-overlay">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <form [formGroup]="contactForm">
        <div class="container">
            <h6>Phone</h6>

            <div formArrayName="phones">
                <div class="row mb-3" *ngFor="let phoneGroup of phonesGroupArray.controls; let i = index"
                    [formGroupName]="i">
                    <div class="col-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" formControlName="phoneNumber" />
                            <mat-error *ngIf="phoneGroup.get('phoneNumber')?.hasError('required')">
                                Phone number is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="phoneType">
                                <mat-option [value]="1">Work</mat-option>
                                <mat-option [value]="2">Personal</mat-option>
                            </mat-select>
                            <mat-error *ngIf="phoneGroup.get('phoneType')?.hasError('required')">
                                Phone type is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <mat-radio-group [value]="primaryIndex" (change)="setPrimary(i)">
                            <mat-radio-button [value]="i">Primary</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <a [confirmDelete]="getRemoveEmailCallback(i)" class="link-style">
                            <mat-icon>delete</mat-icon>
                            Remove
                        </a>
                    </div>
                </div>
            </div>

            <a (click)="addPhone()" class="link-style">
                <mat-icon>add</mat-icon>
                Add Phone
            </a>
        </div>
    </form>
    <div *ngIf="phonesGroupArray.controls.length>0" class="container m-4 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="onSave()">
            <mat-icon>save</mat-icon>
            Save Phone Details
        </button>
    </div>
</div>