<!-- Add spinner overlay only within the component -->

<div class="table-header">
    <div class="header-title">{{ label.TRANSACTION.FOLLOW_UPS }}</div>
    <div class="header-actions">
        
        <!-- Add button only shows when table is visible -->
        <button *ngIf="showTable && !isReadOnly" mat-raised-button color="primary" (click)="onAddNew()">
            <mat-icon>add</mat-icon>
            {{ label.TRANSACTION.ADD_FOLLOW_UP }}
        </button>
        
        <!-- Toggle button -->
        <button mat-icon-button (click)="toggleTable()"
        [attr.aria-label]="showTable ? (label.COMMON.HIDE || 'Hide') : (label.COMMON.SHOW || 'Show')">
        <mat-icon [ngClass]="{'rotated': !showTable}">expand_more</mat-icon>
    </button>
</div>
</div>

<div class="table-filters">
    <div class="row">
        <div *ngIf="loadPersonsFn" class="col-md-4 col-12 mb-2">
            <select-auto-complete 
            [withNullOption]="true"
            [controlName]="'personId'" 
            [fnGet]="loadPersonsFn" 
            [formGroup]="formGroup"
            [label]="label.PROPERTY.OWNER || 'Person'" 
            [keyToShow]="'personName'"
            [valueKey]="'personsIdN'"
            (selectEmitter)="onSelectOwner($event)"
            >
        </select-auto-complete>
    </div>
</div>

<div *ngIf="showLoading" class="spinner-container">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate" 
    diameter="60">
  </mat-progress-spinner>
</div>
<app-shared-table 
*ngIf="showTable && !showLoading" 
[displayedColumns]="displayColumns" 
[paginateResult]="data"
(onChangePage)="changePage($event)" 
(onSortChangeEvent)="changeSort($event)" 
[action]="actionButtonsTemplate">
</app-shared-table>

    <!-- Action buttons -->
    <ng-template #actionButtonsTemplate let-row>
        <button mat-icon-button [matMenuTriggerFor]="menuRow">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuRow="matMenu">
            <button *ngIf="row.files.length>0" mat-menu-item class="btn-view-files" (click)="viewFiles(row)">
                <mat-icon>attach_file</mat-icon>
                {{ label.COMMON.VIEW || 'View Files' }}
            </button>
            <button mat-menu-item class="btn-edit" (click)="onEdit(row)">
                <mat-icon>edit</mat-icon> {{ label.COMMON.EDIT || 'Edit' }}
            </button>
            <button mat-menu-item class="btn-delete" [confirmDelete]="deleteFn(row.id)">
                <mat-icon>delete</mat-icon> {{ label.COMMON.DELETE || 'Delete' }}
            </button>
        </mat-menu>
    </ng-template>
</div>