<form [formGroup]="personalDetailsForm">
    <div class="container">
        <div class="p-3">
            <!-- English Name -->
            <div class="name-en">
                <h6>Name En</h6>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>English Name</mat-label>
                            <input matInput placeholder="Add English Name" formControlName="personEnglishName"
                                required />
                            <mat-error
                                *ngIf="personalDetailsForm.get('personEnglishName')?.touched && personalDetailsForm.get('personEnglishName')?.hasError('required')">
                                First Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
    
            <!-- Arabic Name -->
            <div class="name-ar mt-4">
                <h6>Name Ar</h6>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Arabic Name</mat-label>
                            <input matInput placeholder="Add Arabic Name" formControlName="personArabicName"
                                required />
                            <mat-error
                                *ngIf="personalDetailsForm.get('personArabicName')?.touched && personalDetailsForm.get('personArabicName')?.hasError('required')">
                                First Name (Arabic) is required
                            </mat-error>
    
                        </mat-form-field>
                    </div>
                </div>
            </div>
    
            <!-- Short Name -->
            <div class="short-name mt-4">
                <h6>Short name</h6>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Short name</mat-label>
                            <input matInput placeholder="Add Short Name" formControlName="personShortName" required />
                            <mat-error
                                *ngIf="personalDetailsForm.get('personShortName')?.touched && personalDetailsForm.get('personShortName')?.hasError('required')">
                                Short Name is required
                            </mat-error>
                            <mat-error *ngIf="personalDetailsForm.get('personShortName')?.hasError('whitespace')">
                                cannot contain spaces.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
    
            <!-- Submit Button -->
            <div class="container m-4 d-flex justify-content-end">
                <button class="default-button" type="button" (click)="onCancel()" [disabled]="isSaving"
                    style="min-width: 140px; height: 36px;">
                        Cancel
                </button>
                <button class="btn btn-primary" type="button" (click)="onSave()" [disabled]="isSaving"
                    style="min-width: 140px; height: 36px;">
                    <ng-container *ngIf="!isSaving; else loading">
                        Save
                    </ng-container>
    
                    <ng-template #loading>
                        <mat-progress-spinner diameter="24" mode="indeterminate" color="accent"></mat-progress-spinner>
                    </ng-template>
                </button>
            </div>

        </div>
    </div>
</form>