<div class="dl-container">
    <div class="dialog-header-buttons">
        <button class="btn btn-secondary mr-2" (click)="cancelEdit()">Cancel</button>
        <button class="btn btn-primary mr-2" (click)="save(true)">Save</button>
        <button class="btn" (click)="cancelEdit()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="full-width col-12">
            <mat-label>Select User</mat-label>
            <mat-select formControlName="userId" required (openedChange)="onUserSelectOpened($event)">
                <!-- Search input as first option -->
                <mat-option>
                    <input matInput placeholder="Search user..." [(ngModel)]="userSearchText"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="loadUsers()" autocomplete="off"
                        (click)="$event.stopPropagation()" />
                </mat-option>

                <mat-option *ngIf="isLoadingUsers" disabled>
                    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                    Loading...
                </mat-option>

                <mat-option *ngFor="let user of filteredUsers" [value]="user.id">
                    {{ user.username }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="formGroup.get('userId')?.hasError('required') && formGroup.get('userId')?.touched">
                Username is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width col-12">
            <mat-label>Select Group</mat-label>
            <mat-select formControlName="groupId" required (openedChange)="onUserSelectOpened($event)">
                <!-- Search input as first option -->
                <mat-option>
                    <input matInput placeholder="Search group..." [(ngModel)]="groupSearchText"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="loadGroups()" autocomplete="off"
                        (click)="$event.stopPropagation()" />
                </mat-option>

                <mat-option *ngIf="isLoadingUsers" disabled>
                    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                    Loading...
                </mat-option>

                <mat-option *ngFor="let group of filteredGroups" [value]="group.id">
                    {{ group.groupName }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="formGroup.get('userId')?.hasError('required') && formGroup.get('userId')?.touched">
                Username is required
            </mat-error>
        </mat-form-field>


    </form>
</div>