<div class="dl-container">
    <div class="dialog-header-buttons">
        <button class="btn btn-secondary mr-2" (click)="cancelEdit()">Cancel</button>
        <button class="btn btn-primary mr-2" (click)="save(true)">Save</button>
        <button class="btn" (click)="cancelEdit()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form [formGroup]="formGroup">
        <select-auto-complete *ngIf="loadUsersFn"
        [controlName]="'userId'"
        [fnGet]="loadUsersFn"
        [formGroup]="formGroup"
        [isRequired]="true"
        [label]="'Username'"
        [keyToShow]="'username'"
        [valueKey]="'username'"
        ></select-auto-complete>
        <select-auto-complete *ngIf="loadGroupFn"
        [controlName]="'groupId'"
        [fnGet]="loadGroupFn"
        [formGroup]="formGroup"
        [isRequired]="true"
        [label]="'Group'"
        [keyToShow]="'groupName'"
        [valueKey]="'id'"
        ></select-auto-complete>
    </form>
</div>