<form [formGroup]="formGroup"  class="form-group">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ labelValue }}</mat-label>
        <input 
        matInput 
        type="text" 
        [formControlName]="controlName" 
        [placeholder]="label.COMMON.PHONE_NUMBER" 
        [required]="required"
            (input)="onPhoneInput($event)">
        <mat-error *ngIf="formGroup.get(controlName)?.hasError('required')">
            {{ label.COMMON.PHONE_REQUIRED || 'Phone Number is required' }}
        </mat-error>
        <mat-error *ngIf="formGroup.get(controlName)?.hasError('invalidPhone')">
            {{ label.COMMON.PHONE_INVALID }}
        </mat-error>
    </mat-form-field>
</form>