<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<form [formGroup]="formGroup" class="dialog-content">

    <!-- Upload Area -->
    <div class="upload-area" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" [class.dragover]="isDragging">

        <label class="upload-button">
            <input type="file" accept=".svg,.png,.jpg,.jpeg,.pdf" (change)="onFileSelected($event)" hidden />
            <a  mat-raised-button color="primary" class="mat-button-base mat-raised-button">
                Click to Upload
            </a>
        </label>

        <p>or drag and drop</p>
        <small>SVG, PNG, JPG, or PDF (max 3MB)</small>
    </div>
    <mat-error *ngIf="formGroup.get('file')?.hasError('required') && formGroup.get('file')?.touched">
        File is required
    </mat-error>
    <div *ngIf="selectedFile" class="file-info">
        <mat-icon>description</mat-icon>
        {{ selectedFile.name }} ({{ selectedFile.size / 1024 | number:'1.0-0' }} KB)
    </div>

    <br />

    <div class="row">
        <mat-form-field appearance="outline" class="full-width col-6" floatLabel="auto">
            <mat-label>Document Type</mat-label>
            <mat-select formControlName="type" placeholder="Select document type..." required>
                <mat-option value="" disabled>Select document type...</mat-option>
                <mat-option value="passport">Passport</mat-option>
                <mat-option value="national_id">National ID</mat-option>
                <mat-option value="driver_license">Driver License</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('type')?.hasError('required') && formGroup.get('type')?.touched">
                Document Type is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width col-6" floatLabel="auto">
            <mat-label>Nationality</mat-label>
            <mat-select formControlName="nationality" placeholder="Select nationality..." required>
                <mat-option value="" disabled>Select nationality...</mat-option>
                <mat-option value="1">Jordan</mat-option>
                <mat-option value="2">UAE</mat-option>
            </mat-select>
            <mat-error
                *ngIf="formGroup.get('nationality')?.hasError('required') && formGroup.get('nationality')?.touched">
                Nationality is required
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width col-6" floatLabel="auto">
            <mat-label>Place of issue</mat-label>
            <mat-select formControlName="placeOfIssue" placeholder="Select place of issue..." required>
                <mat-option value="" disabled>Select place of issue...</mat-option>
                <mat-option value="1">Jordan</mat-option>
                <mat-option value="2">UAE</mat-option>
            </mat-select>
            <mat-error
                *ngIf="formGroup.get('placeOfIssue')?.hasError('required') && formGroup.get('placeOfIssue')?.touched">
                Place of issue is required
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width col-6">
            <mat-label>Number</mat-label>
            <input matInput formControlName="idNumber" placeholder="Enter document number..." required />
            <mat-error *ngIf="formGroup.get('idNumber')?.hasError('required') && formGroup.get('idNumber')?.touched">
                Number is required
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width col-6">
            <mat-label>Issue Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="idIssueDate" placeholder="Select issue date..." required />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error
                *ngIf="formGroup.get('idIssueDate')?.hasError('required') && formGroup.get('idIssueDate')?.touched">
                Issue Date is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width col-6">
            <mat-label>Expiry Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="expiryDate" placeholder="Select expiry date..." />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <div class="full-width col-6">
            <mat-slide-toggle formControlName="isPrimary"><span class="label-toggel">Primary</span></mat-slide-toggle>
        </div>
        <div class="full-width col-6">
            <mat-slide-toggle formControlName="activeReminder"><span class="label-toggel">Active
                    Reminder</span></mat-slide-toggle>
        </div>
    </div>


</form>