<div class="main-container">

<!-- SECTION 1: Title and Add Button -->
<div class="section section-title">
  <div class="title-content">
    <h2>Addresses</h2>
  </div>
  <button mat-raised-button color="primary" (click)="openFormDetails()">
    <mat-icon>add</mat-icon> Add Address
  </button>
</div>

<!-- SECTION 2: Address List -->
<div class="section section-content">
  <!-- Loading State -->
  <div *ngIf="showLoading" class="loading-container">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Address Items -->
  <div *ngIf="!showLoading" class="content-list">
    <div *ngFor="let personAddress of personAddresses" class="content-item">
      
      <!-- Address Icon -->
      <div class="item-icon">
        <div class="icon-container">
          <mat-icon>location_on</mat-icon>
        </div>
      </div>

      <!-- Address Info -->
      <div class="item-content">
        <div class="primary-text">
          <span *ngIf="personAddress.addressLine1">{{personAddress.addressLine1}}</span>
          <span *ngIf="personAddress.addressLine2">, {{personAddress.addressLine2}}</span>
          <span *ngIf="personAddress.addressLine3">, {{personAddress.addressLine3}}</span>
          <span *ngIf="personAddress.addressPrimary" class="primary-badge">Primary</span>
        </div>
        <div class="secondary-text">
          <div *ngIf="personAddress.poBoxNumber">{{ personAddress.poBoxNumber }}</div>
          <div *ngIf="personAddress.poBoxCity && cities">{{ cities.get(personAddress.poBoxCity) }}</div>
          <div *ngIf="personAddress.poBoxCountry && countries">{{ countries.get(personAddress.poBoxCountry) }}</div>
        </div>
      </div>

      <!-- Actions -->
      <div class="item-actions">
        <button mat-icon-button [matMenuTriggerFor]="addressMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #addressMenu="matMenu">
          <button mat-menu-item (click)="openFormDetails(personAddress)">
            <mat-icon>edit</mat-icon>
            <span>Edit Address</span>
          </button>
          <button mat-menu-item [confirmDelete]="getRemoveCallback(personAddress.id!)">
            <mat-icon>delete</mat-icon>
            <span>Delete Address</span>
          </button>
        </mat-menu>
      </div>

    </div>
  </div>
</div>

</div>