<form [formGroup]="contactForm">
    <div class="container">
        <h6>Address</h6>

        <div formArrayName="addresses">
            <div class="row mb-3" *ngFor="let addressGroup of addresses.controls; let i = index" [formGroupName]="i">
                <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Address" formControlName="address" />
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city">
                            <mat-option [value]="1">Dubay</mat-option>
                            <mat-option [value]="2">Abudhabi</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country">
                            <mat-option [value]="1">United Arab Emirates</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <mat-radio-group [value]="primaryIndex" (change)="setPrimary(i)">
                        <mat-radio-button [value]="i">Primary</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <a (click)="removeAddress(i)" class="link-style">
                        <mat-icon>delete</mat-icon>
                        Remove
                    </a>
                </div>

            </div>
        </div>

        <a (click)="addAddress()" class="link-style">
            <mat-icon>add</mat-icon>
            Add Address
        </a>
    </div>
</form>
<div *ngIf="addresses.controls.length>0" class="container m-4 d-flex justify-content-end">
  <button class="btn btn-primary" (click)="onSave()">
    <mat-icon>save</mat-icon>
    Save Address Details
  </button>
</div>