<div class="nexus-entity-container">

  <!-- SECTION 1: Title and Records -->
  <div class="nexus-entity-section">
    <div class="nexus-entity-header">
      <div class="nexus-entity-title">
        <h2>{{label.SETTINGS.GROUPS}}</h2>
      </div>
    </div>
  </div>

  <!-- SECTION 3: Data Grid -->
  <div class="nexus-entity-section">
    <div class="nexus-entity-data">
      <!-- Loading -->
      <div *ngIf="showLoading" class="nexus-loading">
        <mat-spinner></mat-spinner>
      </div>

      <!-- Table -->
      <div class="nexus-table-container" *ngIf="!showLoading">
        <app-shared-table 
        [displayedColumns]="displayColumns" 
        [paginateResult]="data" 
        (rowClick)="onRowClick($event)"
        [action]="actionButtonsTemplate" 
        (onChangePage)="changePage($event)" 
        (onSortChangeEvent)="changeSort($event)">
        </app-shared-table>
      </div>
    </div>
  </div>

  <!-- Row Actions -->
  <ng-template #actionButtonsTemplate let-row>
    <button mat-icon-button [matMenuTriggerFor]="menuRow" class="nexus-table-action-btn">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuRow="matMenu" class="nexus-action-menu">
      <!-- <button mat-menu-item class="nexus-menu-item nexus-menu-info" (click)="onEdit(row)">
        <mat-icon class="nexus-icon-edit">edit</mat-icon>
        <span>{{label.COMMON.EDIT}}</span>
      </button> -->
      <!-- <button mat-menu-item class="nexus-menu-item nexus-menu-danger">
        <mat-icon class="nexus-icon-delete">delete</mat-icon>
        <span>Delete</span>
      </button> -->
    </mat-menu>
  </ng-template>

</div>