<div class="sidebar-container" [class.closed]="!sidebarOpen">
  <!-- Sidebar -->
  <div class="tree-container">
    <!-- Dynamic Menu Items -->
    <div class="menu-items" *ngIf="menuItems">
      <div *ngFor="let item of menuItems" class="menu-item-container">
        
        <!-- Parent Menu Item -->
        <div class="menu-item" 
             (click)="onMenuItemClick(item, $event)"
             [class.has-children]="hasChild(0, item)"
             [class.expanded]="isExpanded(item)">
          
          <a *ngIf="item.path && !hasChild(0, item)"  
             class="tree-link"
             routerLinkActive="router-link-active">
            <mat-icon *ngIf="item.iconClass">{{ item.iconClass }}</mat-icon>
            <span>{{ item.name }}</span>
          </a>
          
          <div *ngIf="hasChild(0, item)" class="tree-link expandable-link">
            <mat-icon *ngIf="item.iconClass">{{ item.iconClass }}</mat-icon>
            <span>{{ item.name }}</span>
            <mat-icon class="expand-icon">
              {{ isExpanded(item) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </div>
        </div>

        <!-- Child Menu Items (Vertical Expansion) -->
        <div *ngIf="hasChild(0, item) && isExpanded(item)" 
             class="child-menu-container slide-down">
          <div *ngFor="let child of item.children" class="child-menu-item">
            <a *ngIf="child.path" 
               (click)="onMenuItemClick(child, $event)"
               class="child-link"
               routerLinkActive="router-link-active">
              <mat-icon *ngIf="child.iconClass">{{ child.iconClass }}</mat-icon>
              <span>{{ child.name }}</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
