.sidebar-container{
  background-color: #F8F9FC;
}
.sidebar-toggle-btn,
.sidebar-toggle-btn-opened {
  position: absolute;
  top: 3rem;
  z-index: 1000;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
  transition: width 0.3s ease, left 0.3s ease;
  overflow: hidden; /* prevents overflow during animation */
}

/* Closed state */
.sidebar-toggle-btn {
  left: 1rem;
  top: 4rem;
}

/* Open state */
.sidebar-toggle-btn-opened {
  left: 11.5rem;
}

.tree-container {
  width: 100%;
  transition: width 0.3s ease;
  overflow: hidden;
}

.tree-container.closed {
  width: 0;
  padding: 0;
  border: none;
}

.tree-container mat-tree {
  width: 100%;
}

.tree-link {
  color: black;
}

button .mat-icon,
a .mat-icon,
span .mat-icon {
  vertical-align: middle;
}
