<div class="sidebar-container">

  <div class="mt-2">
    <img src="../../../assets/images/Vector.svg" />
  </div>

  <button mat-icon-button (click)="toggleSidebar()" [ngClass]="iconClass">
    <mat-icon class="toggle-icon">{{ sidebarOpen ? 'menu_open' : 'menu' }}</mat-icon>
  </button>

  <!-- Sidebar -->
  <div class="tree-container" [class.closed]="!sidebarOpen">
    <mat-tree *ngIf="menuItems" class="navbar-nav sidebar sidebar-dark accordion" #tree [dataSource]="menuItems"
      [childrenAccessor]="childrenAccessor">
      <!-- Flat node -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <a *ngIf="node.path" [routerLink]="node.path" class="tree-link">
          <mat-icon *ngIf="node.iconClass">{{ node.iconClass }}</mat-icon>
          {{ node.name }}
        </a>
        <span *ngIf="!node.path">
          <mat-icon *ngIf="node.iconClass">{{ node.iconClass }}</mat-icon>
          {{ node.name }}
        </span>
      </mat-tree-node>

      <!-- Nested node -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle class="btn">
          <mat-icon>
            {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>

        <a *ngIf="node.path" [routerLink]="node.path" class="tree-link">
          <mat-icon *ngIf="node.iconClass">{{ node.iconClass }}</mat-icon>
          {{ node.name }}
        </a>
        <span *ngIf="!node.path">
          <mat-icon *ngIf="node.iconClass">{{ node.iconClass }}</mat-icon>
          {{ node.name }}
        </span>
      </mat-tree-node>
    </mat-tree>
  </div>

</div>