.sidebar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 230px;
  transition: width 0.3s ease;
  background-color: #F8F9FC;
  overflow: hidden;

  &.closed {
    width: 48px;
  }

  .toggle-button-wrapper {
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    .toggle-btn {
      background-color: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }

    .toggle-icon {
      font-size: 24px;
    }
  }

  .tree-container {
    flex: 1;
    transition: opacity 0.3s ease;
    overflow-x: hidden;
    padding: 8px;

    .tree-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;
      color: #000;
    }
  }

  &.closed {
    .tree-container {
      opacity: 0;
      pointer-events: none;
    }
  }
}
