<div class="container h-100 d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <div class="text-center mb-4">
                    <p class="h4 text-gray-900">Login to your account!</p>
                    <span class="text-muted">Welcome Back! Please enter your details</span>
                </div>

                <form *ngIf="loginForm" class="row g-3 justify-content-center" [formGroup]="loginForm">
                    <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="name@example.com">
                    </mat-form-field>
                    <mat-form-field class="col-12 mb-1" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Enter Your Password"
                            formControlName="password" />
                        <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
                            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>

                    <div class="col-12 text-end mb-3" style="margin-top: -10px;">
                        <a href="#" class="forget-password">Forget password?</a>
                    </div>


                    <div class="col-12 text-center">
                        <button class="btn btn-primary w-100 p-3 d-flex align-items-center justify-content-center"
                            [disabled]="loginForm.invalid || isSaving" (click)="onLogin()">

                            <ng-container *ngIf="!isSaving">Login</ng-container>

                            <mat-progress-spinner *ngIf="isSaving" mode="indeterminate" diameter="24" color="accent"
                                strokeWidth="3" class="spinner-centered">
                            </mat-progress-spinner>

                        </button>

                    </div>
                    <div class="col-12 text-center mt-5">
                        Don't have an account? <a routerLink="./register">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>