<div class="modern-dialog-container" [attr.dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
    <!-- Header -->
    <div class="dialog-header">
        <div class="header-content">
            <div class="header-icon">
                <mat-icon>people</mat-icon>
            </div>
            <div class="header-text">
                <h2 class="dialog-title">
                    {{element.id != 0 ? label.PROPERTY.EDIT_PROPERTY_OWNER || 'Edit' : label.PROPERTY.ADD_PROPERTY_OWNER ||
                    'Add'}}
                </h2>
                <p class="dialog-subtitle">{{ label.PROPERTY.ENTER_PROPERTY_OWNER_DETAILS || 'Enter property owner details' }}</p>
            </div>
        </div>
        <button mat-icon-button class="close-button" (click)="cancelEdit()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Body -->
    <div class="dialog-body">
        <div class="form-container">
            <form [formGroup]="formGroup" class="row w-100">
              

                <div class="form-group col-12">
                    <dl-select-auto-complete *ngIf="propertyRelationId" [controlName]="'relation'"
                        [formGroup]="formGroup" [isRequired]="true"
                        [label]="label.PROPERTY.RELATION || 'Relation'" [parentId]="propertyRelationId">
                    </dl-select-auto-complete>
                    <mat-error
                        *ngIf="formGroup.get('relation')?.invalid && (formGroup.get('relation')?.touched || formGroup.touched)">
                        {{ label.PROPERTY.RELATION_REQUIRED || 'Relation is required' }}
                    </mat-error>
                </div>

                <div class="form-group col-12">
                      <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ label.COMMON.REGISTER_TYPE || 'Type' }}</mat-label>
                    <mat-select formControlName="registerIdc" required>
                        <mat-option [value]="EntityIDc.Person">{{ label.COMMON.PERSON || 'Person' }}</mat-option>
                        <mat-option [value]="EntityIDc.Company">{{ label.COMMON.COMPANY || 'Company' }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('registerIdc')?.hasError('required')">
                        {{ label.COMMON.REGISTER_TYPE_REQUIRED || 'Register type is required' }}
                    </mat-error>
                </mat-form-field>
                </div>
              
                <div class="form-group col-12">
                    <select-auto-complete *ngIf="formGroup.get('registerIdc')?.value === EntityIDc.Person && loadPersonssFn"
                        [controlName]="'registerIdn'"
                        [fnGet]="loadPersonssFn"
                        [formGroup]="formGroup"
                        [isRequired]="true"
                        [label]="label.COMMON.PERSON || 'Person'"
                        [keyToShow]="'personEnglishName'"
                        [valueKey]="'id'">
                    </select-auto-complete>
                    <mat-error *ngIf="formGroup.get('registerIdn')?.hasError('required') && formGroup.get('registerIdc')?.value === EntityIDc.Person">
                        {{ label.PERSON.PERSON_REQUIRED || 'Person is required' }}
                    </mat-error>
                </div>

                <div class="form-group col-12">
                    <select-auto-complete *ngIf="formGroup.get('registerIdc')?.value === EntityIDc.Company && loadCompaniesFn"
                        [controlName]="'registerIdn'"
                        [fnGet]="loadCompaniesFn"
                        [formGroup]="formGroup"
                        [isRequired]="true"
                        [label]="label.COMMON.COMPANY || 'Company'"
                        [keyToShow]="'companyEnglishName'"
                        [valueKey]="'id'">
                    </select-auto-complete>
                    <mat-error *ngIf="formGroup.get('registerIdn')?.hasError('required') && formGroup.get('registerIdc')?.value === EntityIDc.Company">
                        {{ label.COMPANY.COMPANY_REQUIRED || 'Company is required' }}
                    </mat-error>
                </div>

                   <div class="form-group col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ label.COMMON.START_DATE || 'Start Date' }}</mat-label>
                        <input matInput
                               formControlName="ownStartDate"
                               [placeholder]="label.COMMON.START_DATE || 'DD/MM/YYYY'"
                               [matDatepicker]="startDatePicker"
                               required>
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                        @if (formGroup.get('ownStartDate')?.hasError('required') && formGroup.get('ownStartDate')?.touched) {
                        <mat-error>
                            {{ label.COMMON.START_DATE_REQUIRED || 'Start Date is required' }}
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                  <div class="form-group col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ label.COMMON.END_DATE || 'End Date' }}</mat-label>
                        <input matInput
                               formControlName="ownFinishDate"
                               [placeholder]="label.COMMON.END_DATE || 'DD/MM/YYYY'"
                               [matDatepicker]="endDatePicker"
                               >
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                      
                    </mat-form-field>
                </div>

                  <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{ label.PROPERTY.OWNER_REMARKS}}</mat-label>
                            <textarea matInput formControlName="remarks"
                                [placeholder]="label.PROPERTY.OWNER_REMARKS || 'Enter notes'" rows="3"></textarea>
                        </mat-form-field>
                    </div>


            </form>

        </div>
    </div>

    <!-- Footer -->
    <div class="dialog-footer">
        <button mat-stroked-button class="cancel-btn" (click)="cancelEdit()">
            <mat-icon>close</mat-icon>
            {{ label.COMMON.CANCEL || 'Cancel' }}
        </button>
        <app-save-button [showLoading]="showLoading" (clickEmitter)="save(true)"></app-save-button>

    </div>
</div>