<div class="nexus-entity-container">

  <!-- SECTION 1: Title and Records -->
  <div class="nexus-entity-section">
    <div class="nexus-entity-header">
      <div class="nexus-entity-title">
        <h2>Groups</h2>
      </div>
      <button mat-raised-button class="nexus-btn nexus-btn-primary" (click)="onAddNew()">
        <mat-icon>add</mat-icon> Add Group
      </button>
    </div>
  </div>

  <!-- SECTION 2: Data Grid -->
  <div class="nexus-entity-section">
    <div class="nexus-entity-data">
      <!-- Loading -->
      <div *ngIf="showLoading" class="nexus-loading">
        <mat-spinner></mat-spinner>
      </div>

      <!-- Table -->
      <div class="nexus-table-container" *ngIf="!showLoading">
        <app-shared-table [displayedColumns]="displayColumns" [paginateResult]="data"
          [action]="actionButtonsTemplate" (onChangePage)="changePage($event)" (rowClick)="onRowClick($event)"
          (onSortChangeEvent)="changeSort($event)" (selectionChange)="onSelectionChange($event)">
        </app-shared-table>
      </div>
    </div>
  </div>

  <!-- Row Actions -->
  <ng-template #actionButtonsTemplate let-row>
    <button mat-icon-button [matMenuTriggerFor]="menuRow">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuRow="matMenu" class="nexus-action-menu">
      <button mat-menu-item (click)="edit(row)" class="nexus-menu-item neutral">
        <mat-icon>edit</mat-icon>
        <span>{{label.COMMON.EDIT}}</span>
      </button>
      <button mat-menu-item [confirmDelete]="getRemoveCallback(row.id)" class="nexus-menu-item danger">
        <mat-icon>delete</mat-icon>
        <span>{{label.COMMON.DELETE}}</span>
      </button>
    </mat-menu>
  </ng-template>

</div>